.search_head{
    margin-top: -40px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    z-index: 2;
    padding: 10px 10px 0px 10px;
    align-items: center;
}

.search_box{
    width: 100%;
    display:flex;
    justify-content: center;
}
.image_container{
    background: url(./image/Search.png) no-repeat;
    margin: 5px;
    width: 30px;
    height: 30px;
    background-size: 100%;

}
.search_input{
    min-height: 40px;
    width: 100%;
    min-width: 400px;
    font-size: 1.4rem;
    border:none;
    border-radius: 25px;
    padding-left: 10px;
    justify-content: center;
}
.selected_property{
    display: flex;
    position: relative;
    z-index: 6;
    align-items: center;
    height: 40px;
}
#select{
    font-size: 19px;
    padding-left: 20px;
    width:150px;
    height: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    background-color: #fff;
}